/* ==== NAVBAR ==== */
.custom-navbar {
  background: linear-gradient(270deg, #feadad, #ffb3d4, #a29bfe, #81c5ec);
  background-size: 400% 400%;
  animation: agua 15s ease-in-out infinite;

  /* efecto glass opcional */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 0 0 12px 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Animación de agua */
@keyframes agua {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ==== LINKS ==== */

.custom-navbar .nav-link {
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
}

.navbar-dark .nav-link {
  background-color: var(--nav-link-bg, rgb(252, 238, 249));
  border-radius: var(--nav-link-radius, 5px);
  margin: 5px;
  border: 2px solid var(--nav-link-border, rgb(252, 238, 249));
  color: var(--nav-link-color, #9829f3);
  font-weight: 500;
}

/* ==== LOGO ==== */
.logo {
  height: 110px;
  width: auto;
}

/* #707aff padding: 1rem 0;

background-color:#feadad;

background: linear-gradient(90deg, #774ae1, #F7C6B7, #c9d8f2);

  background: linear-gradient(90deg, #9B5DE5, #F15BB5);
  background: linear-gradient(90deg, #B084F4, #F9A8D4);*/
