.flex-card {
  flex: 1 1 250px;
  max-width: 250px;
}

.page-hero {
  background: linear-gradient(135deg, #bc8cef 0%, #96b9f6 100%);
  padding: 120px 20px 60px;
  text-align: center;
  color: var(--color-titulos);
}

.subtitle {
  color: var(--color-subtitulos);
}

.nuestra-historia {
  background-color: rgba(243, 119, 234, 0.593);
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

h1,
h2,
h3 {
  font-family: "Great Vibes", cursive;
}
