body {
  margin-top: 150px;
}
/* --- Estilos generales del formulario --- */
.formulario-card {
  background: #fff;
  padding: 10px 40px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(18, 24, 40, 0.08);
  width: 100%;
  max-width: 400px;
  margin: 10vh auto;
}

.min-vh-80 {
  min-height: 80vh;
}

.formulario-card h2 {
  margin-bottom: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #333;
}

/* --- Etiquetas --- */
.form-label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.8rem;
}

/* --- Inputs y selects --- */
.form-control,
.form-select {
  border-radius: 8px;
  padding: 0.6rem 0.9rem;
  border: 1px solid #dee2e6;
  font-size: 0.95rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus,
.form-select:focus {
  border-color: #6f42c1; /* color morado (ejemplo) */
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
  outline: none;
}

/* --- Botón  --- */

button {
  background: #e0bcf8;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 15px;
}

button:hover {
  background: #faa3bd;
}

#resultado {
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  background: #bbf7d0;
  color: #065f46;
  font-weight: bold;
  display: none; /* oculto al inicio */
}
/* Tarjeta */
.card3d {
  min-height: 50vh;
  border-radius: 1em;
  margin-top: 5rem; /* más pequeño en móviles */
  position: relative;
  perspective: 600px;
  background-color: #c2a0ff;

  box-shadow: 0 0.125em 0.3125em rgba(112, 15, 15, 0.25),
    0 0.02125em 0.06125em rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* Parte rosa animada */
.overlay {
  background: linear-gradient(
    135deg,
    var(--color-mora) 0%,
    var(--color-rosa) 50%,
    var(--color-mora) 100%
  );
  color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  border-radius: 0 0 1em 1em;

  transform-origin: center top;
  transform: rotateX(180deg);
  transition: transform 0.7s ease-in-out;
  z-index: 1;
}

.card3d:hover .overlay {
  transform: rotateX(0);
}

/* Títulos responsivos */
.responsive-title {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  line-height: 1.3;
  color: whitesmoke;
}
.responsive-subtitle {
  font-size: clamp(1rem, 2vw, 1.8rem);
  color: whitesmoke;
}

/* Imágenes */
.capibara-img {
  max-width: 25%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .capibara-img {
    max-width: 40%;
  }
  .card3d {
    margin-top: 3rem;
  }
}
