@import url("navegacion.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --card: #fff;
  --radius: 12px;
  --muted: #666;
  --color-titulos: rgb(255, 255, 255);
  --color-subtitulos: rgb(214, 214, 214);
  --color-naranja: #feadad;
  --color-rosa: #ffc8e0;
  --color-mora: #a29bfe;
  --color-azul: #81c5ec;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../img/fondo\ 4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* 👇 Cursor pesita incrustado (no necesitas archivos extras) */

  cursor: url("../img/capibara2.png") 16 16, auto;
}

/* Footer*/
footer {
  background-color: var(--color-mora);
}

footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffd580;
}

footer .bi {
  font-size: 1.2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

footer .bi:hover {
  transform: scale(1.2);
  color: #ffd580;
}

h1,
h2,
h3 {
  font-family: "Great Vibes", cursive;
}

/*BOTONES DEL MENU*/
.nav-link {
  color: var(--color-titulos);
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: var(--color-azul);
  transform: scale(1.02); /* Aumenta ligeramente el tamaño */
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-azul);
  transition: width 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}
